//fonts
$primaryFontSize: 14px;
$secondaryFontSize : 16px;
$tertiaryFontSize : 22px;

//line-heights
$primaryLineHeight : 20px;
$secondaryLineHeight : 22px;
$tertiaryLineHeight : 28px;

//colors
$primaryColor : #0696d7;
$errorColor : #ee4444;
$borderColor : #bbbbbb;
$colorOne : #000000;
$colorTwo : #3c3c3c;
$colorThree : #ffffff;
$colorFour : #808080;
$colorFive : #006eaf;
$colorSix : #999999;
$colorSeven : #dcdcdc;


