//fonts
$primaryFontSize: 14px;
$secondaryFontSize : 16px;
$tertiaryFontSize : 22px;

//colors
$primaryColor : #0696d7;
$errorColor : #ee4444;

//line-heights
$primaryLineHeight : 20px;
$secondaryLineHeight : 22px;
$tertiaryLineHeight : 28px;

//text colors
$primaryTextColor : #000000;
$secondaryTextColor : #3c3c3c;
$tertiaryTextColor : #ffffff;

